In [2]:
import pandas as pd
import numpy as np
import decimal

In [3]:
from sleeper_wrapper import League

twenty_oneeight = League(332709636958339072)

# Parameters

In [4]:
alpha = .5
beta = .5
leaguesize = 10

# Matchup Function

In [25]:
def matchup(e1,e2,s1,s2,t1,t2):
    if e1 > e2:
        if s1 > s2:
            rating_week_after[t1] = e1 + 32/(1+10**((e1-e2)/400))
            rating_week_after[t2] = e2 - 32/(1+10**((e1-e2)/400))
        else: 
            rating_week_after[t1] = e1 - 32/(1+10**((e2-e1)/400))
            rating_week_after[t2] = e2 + 32/(1+10**((e2-e1)/400))
    else:
        if s1 > s2:
            rating_week_after[t1] = e1 + 32/(1+10**((e1-e2)/400))
            rating_week_after[t2] = e2 - 32/(1+10**((e1-e2)/400))
        else:
            rating_week_after[t1] = e1 - 32/(1+10**((e2-e1)/400))
            rating_week_after[t2] = e2 + 32/(1+10**((e2-e1)/400))

# Score Table

In [27]:
scores_2018 = pd.DataFrame()
week_x = [0]*10

In [28]:
for j in range(1,14):
    for i in range(10):
        week_x[i] = twenty_oneeight.get_matchups(j)[i]['points']
        scores_2018[j] = week_x

# Matchup Table Rating

In [40]:
matchups_s1 = pd.DataFrame()
week_x = [0]*10

In [41]:
for j in range(1,14):
    for i in range(10):
        week_x[i] = twenty_oneeight.get_matchups(j)[i]['matchup_id']
        matchups_s1[j] = week_x

In [42]:
matchups_s1

   1   2   3   4   5   6   7   8   9   10  11  12  13
0   3   2   1   2   3   4   5   5   4   3   2   1   2
1   3   4   5   5   4   3   2   1   2   3   4   5   5
2   1   1   1   1   1   1   1   1   1   1   1   1   1
3   4   3   2   1   2   3   4   5   5   4   3   2   1
4   4   5   5   4   3   2   1   2   3   4   5   5   4
5   2   3   4   5   5   4   3   2   1   2   3   4   5
6   1   2   3   4   5   5   4   3   2   1   2   3   4
7   5   4   3   2   1   2   3   4   5   5   4   3   2
8   5   5   4   3   2   1   2   3   4   5   5   4   3
9   2   1   2   3   4   5   5   4   3   2   1   2   3

# Rating Table

In [45]:
initial = [1000]*10
rating_table = matchups_s1[0:0]
rating_table[0] = initial
#rating_table[0].median()
rating_week_after = [0]*10

<ipython-input-45-146d98193aa1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rating_table[0] = initial

In [46]:
rating_table

   1   2   3   4   5   6   7   8   9   10  11  12  13    0
0 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000
1 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000
2 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000
3 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000
4 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000
5 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000
6 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000
7 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000
8 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000
9 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  1000

In [49]:
for t1 in range(10):
    for t2 in range(10):
        if matchups_s1.iloc[t1,1] == matchups_s1[t2,1] and t1 != t2:
            matchup(rating_table.iloc[t1,0], rating_table.iloc[t2,0], scores_2018.iloc[t1,1], scores_2018.iloc[t1,1], t1, t2)

KeyError: (0, 1)

      0
0  1000
1  1000
2  1000
3  1000
4  1000
5  1000
6  1000
7  1000
8  1000
9  1000